<library path="src">
    <class name="OperatorAudio" type="multiaudio_transmit.operator_plugin.OperatorAudioPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>Operator Audio Control Panel</description>
    <qtgui>
        <group>
            <label>CJT-Robotics</label>
            <icon>res/favicon.png</icon>
        </group>
        <label>Operator Audio Control</label>
        <title>Multiaudio Control Panel</title>
        <icon>res/favicon.png</icon>
      <role>operator</role>
    </qtgui>
    </class>
</library>